---
version: 2
jobs:
  build:
    docker:
      - image: dickeyxxx/cli-engine-docker:v1.3.1
    working_directory: ~/cli-plugin
    steps:
      - checkout
      - run: yarn
      - run: yarn test && bash <(curl -s https://codecov.io/bash)
